
body{
  background-color: rgb(56, 56, 56);
 
}
@media (max-width: 1000px) { 
   
  .video-wrapper{
      display: flex;
      flex-direction: column;
  }
  
  
}

.video-wrapper{
  width: auto; 
  height: auto;
  display: flex;
 justify-content: center;
 margin-top: 5%;
 
}
.react-player {
  padding-top: 56.25%; 
  position: relative; 
}

.videos{
  margin: 1rem;
  border: 1px solid black;
}

.react-player > div {
  position: absolute; 
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

